@font-face {
  font-family: Mazzard;
  src: url("../fonts/MazzardH-Regular.ttf");
}

@font-face {
  font-family: Mazzard-B;
  src: url("../fonts/MazzardH-SemiBold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

body {
  background-color: #f7f7f7;
  background-image: url("/img/noizxe.png");
}

header {
  padding: 14px 0;
  margin: auto;
  max-width: 1170px;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  font-family: Mazzard-B;
  justify-content: space-between;
}
.header_wrapper {
  background-color: #fff;
  box-shadow: 10px 10px 40px rgba(41, 68, 104, 0.1);
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}
header .logo img {
  max-width: 100%;
}

.logo {
  padding-top: 5px;
}

header .right_header {
  display: flex;
}
header .mnu_top {
  list-style-type: none;
}

header .mnu_top li {
  display: inline-block;
}
header .ul_wrapper .btn {
  margin-left: 32px;
}
header .mnu_top li:not(:last-child) {
  margin-right: 48px;
}

header .mnu_top li a {
  display: block;
  color: #020d22;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
header .mnu_top li a:hover {
  color: #005bff;
}
.ul_wrapper {
  display: flex;
  align-items: center;
}
.btn {
  background: #005bff;
  color: #fcfcfd;
  text-decoration: none;
  padding: 9px 24px 8px 24px;
  display: block;
  font-family: Mazzard;
}
.btn:hover {
  background: #0943b3;
}
.subtitle {
  color: #005bff;
  padding-top: 72px;
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}
.title {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
}

.car {
  padding-top: 19px;
  display: flex;
  align-items: center;
}

.main {
  padding-top: 72px;
}

.main .car .car_text span {
  display: block;
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  padding-left: 64px;
  padding-bottom: 24px;
}
.car_text {
  padding-top: 36px;
}
.main .car .car_text span::before {
  content: "●";
  color: #005bff;
  max-width: 1111px;
  height: 1111px;
  font-size: 14px;
  margin-right: 20px;
  padding-left: 4px;
}

.btn1 .btn {
  background: #005bff;
  color: #fcfcfd;
  text-decoration: none;
  padding: 16px 100px;
  font-size: 20px;
  display: block;
  font-family: Mazzard;
  margin-left: 69px;
  margin-top: 12px;
}
.btn1 .btn:hover {
  background: #0943b3;
}

.block_wrapper {
  display: flex;
  justify-content: space-between;
}

.block {
  padding: 24px 0px 40px 32px;
  width: 337px;
  background-color: #fff;
  margin-top: 102px;
  box-shadow: 10px 10px 40px rgba(41, 68, 104, 0.1);
}

.figure {
  font-family: Archivo;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  color: #005bff;
}

.text {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding-top: 8px;
}

.price_name {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 65px;
  padding-top: 200px;
}

.price_titles {
  margin-top: 40px;
  display: flex;
  border-bottom: 1px solid #020d22;
  margin-bottom: 8px;
}

.titles {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 16px;
}

.price_wrapper {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.price_wrapper::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #020d22;
}

.span_wrapper {
  display: block;
}
.one_time .span_wrapper {
  /* margin-right: 111px; */
}

.metrs {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  /* margin-right: 188px; */
}
.num {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 91px;
}

.price {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.span-mobile {
  display: none;
}

.one_time {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}
.vajno {
  margin-top: 40px;
}

.b {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}

.span_b {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #005bff;
}

.second_price {
  margin-top: 128px;
}

.price_colum {
  display: flex;
}
.element {
  padding-top: 40px;
  width: 332px;
  height: 184px;
  padding-right: 87px;
}

.second_title {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.kek {
  padding-left: 40px;
}
.kek1 {
  padding-left: 40px;
}
.arrow {
  border-bottom: 1px solid #020d22;
  margin-bottom: 8px;
}
.first_stroke {
  display: block;
}
.text_b {
  color: #020d22;
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.about_text {
  padding-top: 48px;
  display: flex;
  align-items: baseline;
}

.text_n {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.about_wigth {
  max-width: 474px;
  padding-left: 54px;
}

.about_block {
  display: block;
}

.about_wigth_2 {
  max-width: 474px;
  padding-left: 24px;
}

.text_and_img {
  display: flex;
}
.img {
  padding-left: 184px;
}

.about_more {
  display: block;
  margin-top: 64px;
  border-bottom: 1px solid #020d22;
  padding: 13px 0;
  border-top: 1px solid #020d22;
  width: 100%;
  position: relative;
}

.about_more:after {
  content: "";
  background-image: url("/img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -1px;
  background-color: #020d22;
  width: 74px;
  height: 50px;
}
.about_more:hover {
  color: #005bff;
  border-bottom: 1px solid #005bff;
  border-top: 1px solid #005bff;
}

.about_more:hover:after {
  content: "";
  background-color: #005bff;
}

.read_name {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
}

.read_arrow {
  display: flex;
}

.about_more {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: #020d22;
}

.faq_name {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  max-width: 573px;
  padding-top: 200px;
  padding-bottom: 40px;
}
.map-mobile {
  display: none;
}
.block__item {
  border-top: 1px solid #020d22;
  padding: 14px 0;
}
.block__item:hover .block__title {
  font-weight: 600;
}
.block__item:last-child {
  border-bottom: 1px solid #020d22;
}

.block__title {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.block__title::before,
.block__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #005bff;
  position: absolute;
  top: 10px;
  transition: all 0.3s ease 0s;
}

.block__title:before {
  content: "";
  transform: rotate(-40deg);
  right: 0;
}

.block__title:after {
  content: "";
  transform: rotate(40deg);
  right: 6.5px;
}

.map_about-tablet {
  display: none;
}

.block__title.active::before {
  transform: rotate(40deg);
}
.block__title.active::after {
  transform: rotate(-40deg);
}

.block__text {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: none;
  padding: 16px 0 8px 0;
}

.call_go {
  display: block;
}
.call_text {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  max-width: 567px;
}

.call_text_b {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding-top: 38px;
}

.map {
  display: flex;
}

.map_about {
  padding-left: 102px;
  margin-top: 230px;
}

.bnt_wrapper {
  margin-top: 26px;
  display: flex;
}
.btn_text {
  display: block;
  color: #fcfcfd;
  background: #005bff;
  font-size: 18px;
  text-decoration: none;
  padding: 16px 70px;
  font-family: Mazzard;
  text-align: center;
}

.btn_text:hover {
  background: #0943b3;
  color: #fcfcfd;
}

.btn_white:hover {
  background: #005bff;
  color: #fcfcfd;
}

.btn_white {
  border: 1px solid #005bff;
  color: #005bff;
  text-align: center;
  padding: 16px 48px;
  font-size: 18px;
  font-family: Mazzard;
  text-decoration: none;
  margin-left: 16px;
}

.footer {
  margin-top: 136px;
  display: flex;
  margin-bottom: 25px;
  height: 155px;
  align-items: center;
  justify-content: space-between;
}

.footer_wrapper {
  display: block;
  height: 100%;
}
.footer_m {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding-top: 23px;
}

.footer_border {
  border-left: 1px solid #020d22;
  border-right: 1px solid #020d22;
  padding: 0 30px;
}
.last {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #020d22;
  display: block;
  padding-top: 8px;
}

.footer_b {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
}

.footer_tel {
  text-decoration: none;
  color: #005bff;
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;

  display: block;
}

/* page - contacts; */

.subtitle_contants {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 47px;
  padding-top: 156px;
  padding-bottom: 16px;
}

.contancts {
  padding-top: 24px;
  width: 90%;
}

.text_contacts {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.call_contacts {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.contacts_wrapper {
  display: block;
}

.call_contacts_b {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;

  padding-top: 8px;
}

.call_contacts_b_text {
  color: #005bff;
}

.contacts_black {
  color: #020d22;
}
.contacts_main {
  display: block;
  padding-top: 56px;
}

.contacts_wrapper_sec {
  padding-top: 40px;
}

.info_cnt {
  padding-top: 56px;
}

.main_cnt {
  display: flex;
}

.map_contacts {
  padding-top: 156px;
}

.footer_cnt {
  margin-top: 232px;
  display: flex;

  height: 155px;
  align-items: center;
  justify-content: space-between;
}

/* page - price; */

.title_price {
  padding: 16px 0 32px 0;
  width: 80%;
}
.text_price {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #020d22;
}

.abt_wrapper {
  padding-top: 24px;
  max-width: 800px;
}

.abt_text {
  font-family: Mazzard;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}
.kek2 {
  width: 100%;
}
.text_one_about {
  display: block;
}
.ee {
  padding-bottom: 0;
}
.text_png {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 24px;
  padding-top: 24px;
}
.price-wrap {
  max-width: 30%;
  padding-bottom: 48px;
}
.secod_price-wrap {
  padding: 32px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.burger,
.burger-btn {
  display: none;
}
.block__title.active {
  font-weight: 600;
}
.qqq::before {
  content: "●";
  color: #005bff;
  font-size: 18px;
  margin-right: 8px;
  padding-left: 4px;
}

/* page - characteristics; */

.photo {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 16px;
}
.photo_div span,
img {
  display: block;
}

.photo_div {
  margin-bottom: 48px;
}
.photo_div-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 24px;
}
.photo_space {
  padding-bottom: 16px;
}
.photo_predlast {
  padding-right: 54px;
}
.photo_last {
  padding-right: 188px;
}

.text_chara {
  font-family: Mazzard;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.map_about-small {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0 16px;
  }
  .car img {
    width: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .header_wrapper {
    max-width: 1024px;
  }
  header .mnu_top li:not(:last-child) {
    margin-right: 24px;
  }
  .main .car .car_text span {
    padding-left: 40px;
  }
  .price_wrapper {
    margin-top: 32px;
  }
  .car img {
    max-width: 626px;
  }
  .title {
    font-size: 70px;
  }
  .block {
    width: 28%;
  }
  .titles {
    font-size: 20px;
  }

  .num {
    font-size: 72px;
  }
  .metrs {
    margin-right: 0;
  }
  .price_titles {
    justify-content: space-between;
  }
  .price_wrapper {
    justify-content: space-between;
  }
  .one_time .span_wrapper {
    margin-right: 0;
  }
  .titles {
    padding: 0;
    max-width: 263px;
  }

  .titles:nth-child(2),
  .titles:nth-child(1) {
    padding-right: 0;
  }

  .titles:nth-child(3) {
    padding-left: 10px;
  }

  .btn1 .btn {
    padding: 16px 40px;
    margin-left: 54px;
    display: block;
    text-align: center;
  }
  .b {
    font-size: 26px;
  }

  .span_b {
    font-size: 26px;
  }

  .footer_tel {
    font-size: 44px;
  }

  .footer_b {
    font-size: 43px;
  }

  .last {
    font-size: 32px;
  }
  .img {
    padding-left: 24px;
  }
  .price {
    font-size: 20px;
  }
  .faq_name {
    padding-top: 180px;
  }
  .map_about {
    padding-left: 0;
    margin-top: 188px;
    display: none;
  }

  .map_about-tablet {
    display: block;
    margin-top: 180px;
    margin-left: 62px;
  }
  header .ul_wrapper .btn {
    font-size: 14px;
    margin-left: 14px;
  }
  .logo {
    padding-top: 0;
  }
  .btn_white {
    display: block;
    padding: 16px 0;
    width: 53px;
    height: auto;
    background: url("/img/map.svg") no-repeat center;
  }
  .btn_white p {
    display: none;
  }
  .map_contacts {
    right: 0;
  }

  .call_contacts_b {
    font-size: 28px;
  }
  .contancts {
    width: 90%;
  }
  .subtitle_contants {
    width: 70%;
  }
  .call_text {
    max-width: 500px;
  }
  .faq_name {
    padding-bottom: 24px;
  }
  .call_text_b {
    padding-top: 24px;
  }
  .text_price {
    font-size: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .num {
    font-size: 58px;
  }
  .price {
    font-size: 15px;
  }
  .faq_name {
    font-size: 42px;
  }
  .price_name {
    font-size: 42px;
  }
}
@media screen and (max-width: 950px) {
  .footer {
    height: 120px;
  }
  .footer_border {
    border-left: 1px solid #020d22;
    border-right: 1px solid #020d22;
    padding: 0 17px;
  }
  .footer_b {
    font-size: 36px;
  }
  .last {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .call_go {
    margin-right: 32px;
  }
  .title_price {
    width: 100%;
    padding-bottom: 40px;
  }
  .main_cnt {
    display: block;
  }
  .contancts {
    width: 100%;
  }
  .price_wrapper {
    margin-top: 16px;
  }
  .mnu_top {
    display: none;
  }
  header .ul_wrapper .btn {
    margin-left: 0;
    margin-right: 24px;
  }
  .burger-wrap {
    position: relative;
    padding-top: 4px;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .burger-btn {
    display: block;
    width: 20px;
    height: 20px;
  }
  .burger-btn span {
    display: block;
    background: #020d22;
    position: relative;
    width: 20px;
    height: 2px;
    z-index: 999;
    transition: 0.5s;
  }
  .burger-btn span::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #020d22;
    width: 20px;
    height: 2px;
    z-index: 999;
    transition: 0.5s;
  }
  .burger-btn span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #020d22;
    width: 20px;
    height: 2px;
    z-index: 999;
  }
  .burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 224px;
    background: #fcfcfd;
    box-shadow: 10px 10px 40px rgba(41, 68, 104, 0.1);
    height: 100%;
    padding: 72px 0 0 24px;
    z-index: 99;
  }
  .burger_menu li {
    list-style: none;
    padding-bottom: 23px;
  }
  .burger_menu li a {
    font-family: Mazzard;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .burger_menu li .burger-tel {
    font-family: Mazzard;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #005bff;
  }
  .burger-btn.burger-btn-active span {
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .burger-btn.burger-btn-active span::before {
    transform: rotate(90deg);
    transition: 0.5s;
    top: 0;
  }
  .burger-btn.burger-btn-active span::after {
    content: none;
  }
  .nav-burger {
    position: relative;
    height: 100%;
  }
  .burger-menu-tel {
    font-family: Mazzard;
    text-decoration: none;
    padding: 10px 46px;
    position: absolute;
    bottom: 24px;
    right: 34px;
    z-index: 99;
    display: block;
    background: #005bff;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #fcfcfd;
    font-style: normal;
    font-weight: 500;
  }
  .num {
    font-size: 52px;
    line-height: 61px;
  }
  .subtitle {
    padding-top: 35px;
  }
  .title {
    font-size: 64px;
  }

  .car img {
    width: 60%;
  }
  .main .car .car_text span {
    padding: 0 0 8px 32px;
    font-size: 18px;
    line-height: 32px;
  }
  .btn1 .btn {
    font-size: 20px;
    margin-left: 38px;
  }
  .figure {
    font-size: 56px;
    line-height: 61px;
  }
  .text {
    font-size: 16px;
    line-height: 19px;
  }
  .price_name {
    padding-top: 132px;
    font-size: 40px;
    line-height: 47px;
  }
  .titles {
    font-size: 18px;
    line-height: 19px;
    width: 202px;
  }
  .span_wrapper {
    font-size: 15px;
    line-height: 18px;
  }
  .span_wrapper .num {
    font-size: 56px;
    line-height: 61px;
  }
  .vajno {
    margin-top: 32px;
  }
  .b {
    font-size: 24px;
    line-height: 28px;
  }
  .span_b {
    font-size: 22px;
    line-height: 28px;
  }
  .second_price {
    margin-top: 72px;
  }
  .price {
    display: block;
    font-size: 14px;
    line-height: 19px;
  }
  .price_name {
    padding-top: 124px;
  }
  .about_text {
    display: block;
    padding-top: 32px;
  }
  .text_b {
    display: block;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 4px;
  }
  .about_wigth,
  .about_wigth_2 {
    padding-left: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .text_n {
    font-size: 16px;
    line-height: 24px;
  }
  .img img {
    width: 290px;
    height: 356px;
    padding-left: 0;
  }
  .text_and_img {
    align-items: center;
  }
  .about_more {
    margin-top: 32px;
  }
  .faq_name {
    padding-top: 128px;
    font-size: 40px;
    line-height: 47px;
    max-width: 100%;
  }
  .ymaps-2-1-79-map.ymaps-2-1-79-i-ua_js_yes.ymaps-2-1-79-map-bg.ymaps-2-1-79-islets_map-lang-ru,
  .ymaps-2-1-79-map {
    width: 290px !important;
    height: 290px !important;
  }
  .map_about {
    width: 290px;
    height: 290px;
    margin-left: 12px;
  }
  .price_wrapper::after {
    top: 30px;
  }
  #map {
    overflow-x: hidden;
  }
  .map {
    align-items: center;
    justify-content: space-between;
  }
  .footer {
    margin-top: 128px;
    height: 110px;
  }
  .footer_m {
    font-size: 16px;
    line-height: 16px;
  }
  .footer_b {
    font-size: 30px;
    line-height: 60px;
  }
  .last {
    font-size: 24px;
    line-height: 31px;
  }
  .footer_border {
    border-left: 1px solid #020d22;
    border-right: 1px solid #020d22;
    padding: 0 9px;
  }
  .car {
    padding-top: 0px;
  }
  .block {
    margin-top: 32px;
  }
  .map_about-tablet {
    display: none;
  }
  .map_about-small {
    display: block;
    margin-top: 70px;
  }
  .kek {
    padding-left: 0;
  }
}
@media screen and (max-width: 1010px) {
  .price {
    font-size: 16px;
  }
  .metrs {
    font-size: 16px;
  }
  .one_time {
    font-size: 16px;
  }
}
@media screen and (max-width: 950px) {
  footer_b {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .price {
    font-size: 16px;
  }
  .text_contacts {
    font-size: 16px;
  }
  .contacts_wrapper_sec {
    padding-top: 32px;
  }
  .subtitle_contants {
    width: 100%;
    font-size: 40px;
  }
  .info_cnt {
    padding-top: 40px;
  }
  .text_png {
    display: block;
    padding-top: 0;
  }
  .map_contacts {
    display: none;
  }
  .kek {
    display: flex;
    flex-direction: column-reverse;
  }
  .abt_wrapper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 16px;
  }
  .photo_div,
  span,
  img {
    width: 100%;
    height: 100%;
  }
  .kek1 {
    padding-left: 0;
  }
  .text_one_about {
    padding-bottom: 24px;
  }
  .kek1 {
    padding-bottom: 0;
  }
  .text_png {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .text_one_about {
    padding-top: 24px;
  }
}
@media screen and (max-width: 550px) {
  .map_about-tablet {
    display: none;
  }
  .kek18 {
    max-width: 90%;
  }
  .subtitle_contants {
    font-size: 40px;
    padding-top: 104px;
    padding-bottom: 0;
  }
  header .ul_wrapper .btn {
    display: none;
  }
  .subtitle {
    font-size: 32px;
    line-height: 42px;
  }
  .title {
    font-size: 32px;
    line-height: 33px;
  }
  .footer_b {
    font-size: 42px;
  }
  .car {
    display: block;
  }
  .car img {
    width: 100%;
  }
  .car_text {
    padding-top: 24px;
  }
  .block_wrapper {
    display: block;
    padding-top: 27px;
  }
  .btn1 .btn {
    margin-left: 0;
  }
  .block {
    width: auto;
    margin-top: 16px;
  }
  .text {
    font-size: 17px;
    line-height: 20px;
  }
  .price_name {
    padding-top: 120px;
    font-size: 32px;
    line-height: 38px;
  }
  .price_titles {
    margin-top: 24px;
  }
  .mobile-titles,
  .one_time {
    display: none;
  }
  .price_titles {
    padding-right: 5px;
  }
  .titles {
    font-size: 17px;
    line-height: 18px;
    width: auto;
    font-weight: 600;
  }
  .span_wrapper {
    font-size: 20px;
    line-height: 17px;
  }
  .span_b {
    font-size: 21px;
  }
  .span_wrapper .num {
    font-size: 28px;
    line-height: 26px;
  }
  .map {
    display: block;
  }
  .footer_m {
    padding-top: 12px;
  }
  .span-mobile {
    display: block;
    font-size: 16px;
    line-height: 17px;
    color: #898989;
    padding: 4px 0 16px;
  }
  .text_price {
    font-size: 16px;
  }
  .metrs .span_wrapper:not(:first-child) {
    padding: 17px 0 34px;
  }
  .price_wrapper {
    align-items: flex-start;
  }
  .second_price {
    margin-top: 64px;
  }
  .secod_price-wrap {
    display: block;
  }
  .price-wrap {
    max-width: 100%;
    padding-bottom: 20px;
  }
  .num {
    font-size: 36px;
    line-height: 48px;
  }

  .text_and_img {
    flex-direction: column;
  }

  .img img {
    transform: rotate(90deg);
    width: 90%;
    height: auto;
  }
  .read_arrow {
    width: 94%;
  }
  .main .car .car_text span {
    padding-left: 0;
  }
  .about_more {
    width: 100%;
  }
  .about_more:after {
    right: 0;
  }
  .call_text {
    font-size: 16px;
  }
  .faq_name {
    font-size: 32px;
    line-height: 38px;
  }
  .about_more {
    font-size: 17px;
  }
  .block__title {
    font-size: 17px;
    line-height: 19px;
  }
  .call_text_b {
    margin-bottom: 20px;
  }
  .map-mobile,
  .ymaps-2-1-79-map.ymaps-2-1-79-i-ua_js_yes.ymaps-2-1-79-map-bg.ymaps-2-1-79-islets_map-lang-ru,
  .ymaps-2-1-79-map {
    width: 100% !important;
    height: 219px !important;
  }
  .map-mobile {
    margin: 24px 0 16px;
    padding: 24px 0 16px;
  }

  .map_about-small {
    display: none;
  }
  .call_text_b {
    margin-bottom: 16px;
  }
  .map-mobile {
    display: block;
  }
  .map_about {
    display: none;
  }
  .bnt_wrapper .btn_text {
    width: 54%;
    padding: 16px 43px;
  }
  .footer {
    margin-top: 120px;
    flex-direction: column;
    height: auto;
  }
  .time_price-mobile {
    padding-top: 15px;
  }
  .footer_border {
    border: none;
    padding: 0;
  }
  .footer_wrapper {
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .footer_wrapper-mobile {
    border-bottom: none;
  }
  .photo_last,
  .photo_predlast {
    padding-right: 0;
  }
  .call_go {
    margin-right: 0;
  }
  .abt_text {
    font-size: 16px;
    line-height: 24px;
  }
  .text_png {
    padding-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .about_more {
    font-size: 14px;
  }
  .about_more:after {
    height: 47px;
  }
  .call_text_b {
    font-size: 16px;
  }
  .bnt_wrapper .btn_text {
    width: 54%;
    padding: 14px 38px;
  }
  .subtitle_contants {
    font-size: 34px;
  }
}

@media screen and (max-width: 330px) {
  .title {
    font-size: 28px;
    line-height: 33px;
  }
  .titles {
    font-size: 15px;
  }
  .footer_b {
    font-size: 40px;
  }
}
